.wrapper{
  width: 800px;
  background-color: darkturquoise;
  margin:auto;
  height:auto;


}

.heading{
    height:80px;
    background-color:black;
    padding: 20px;
    text-align: center;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 70px #fff,
    0 0 80px #fff,
    0 0 100px #fff,
    0 0 150px #fff;
    font-size: 24px;
}

.Navigation{
  height:auto;
  width:auto;
  font-size: 16px;
  text-align: center;
  background-color: black;
  border-radius: none;

}

.Navigation ul{
    height:auto;
    margin: 0px;
    padding: 8px 0px;

}

.Navigation li{
    display: inline;
    padding: 25px;

}

.Navigation a{
    text-decoration: underline;
    color: #fff;
    padding: 6px 6px 6px 6px 6px;


}

.Navigation a:hover{
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #fff,
  0 0 70px #fff,
  0 0 80px #fff,
  0 0 100px #fff,
  0 0 150px #fff;
}




.content{
  min-height: 800px;
  background:#ddd;
  width:500px;
  float:left;
}

.sidebar{
  width: 300px;
  float:right;
  background:lightblue;
  min-height:800px;
}

.footer{
  clear:both;
  background:black;
  height:40px;
  color:white;
  text-align: center;
  padding: 20px;

}
